* {
  box-sizing: border-box;
  font-size: 22px;
}

body {
  background-image: url('https://cdn.pixabay.com/photo/2014/07/06/13/55/calculator-385506__480.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  margin-top: 200px;
}

.calculator {
  width: 90%;
  height: 500px;
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  opacity: 0.9;
  padding: 10px;
}

.input {
  background: rgb(133 134 147);
  box-shadow: none;
  border-radius: 10px;
  height: 13%;
  width: 100%;
  text-align: right;
  font-size: 26px;
  color: white;
  padding: 10px;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 85%;
  gap: 4px;
  margin-top: 10px;
}

.button-0 {
  grid-column: span 2;
}

.bg-orange {
  background: rgb(238 144 61);
  font-size: 25px;
}

button {
  background: rgb(224 224 224);
  border-color: rgb(209 209 209);
  border-radius: 10px;
  cursor: pointer;
}
