.calculator-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 20px;
}
.calculator-section .title {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  padding: 10px;
}

.calculator {
  width: 90%;
  height: 500px;
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  opacity: 0.9;
  padding: 10px;
}

.input {
  /* background: rgb(133 134 147); */
  background: rgb(20, 20, 20);
  box-shadow: none;
  border-radius: 10px;
  height: 13%;
  width: 100%;
  text-align: right;
  font-size: 26px;
  color: white;
  padding: 10px;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 85%;
  gap: 4px;
  margin-top: 10px;
}

.button-0 {
  grid-column: span 2;
}

.bg-orange {
  /* background: rgb(238 144 61); */
  background: rgb(20, 20, 20);
  font-size: 25px;
  color: white;
}

button {
  /* background: rgb(224 224 224); */
  background: rgb(224, 219, 219);
  border-color: rgb(209 209 209);
  border-radius: 10px;
  cursor: pointer;
}
