* {
  box-sizing: border-box;
  font-size: 22px;
}

body {
  background: rgb(225, 243, 231);
}

#root {
  margin-top: 200px;
}

.calculator {
  width: 90%;
  height: 500px;
  max-width: 500px;
  margin: 0 auto;
  background-color: rgb(209 209 209);
}

.input {
  background: rgb(133 134 147);
  box-shadow: none;
  border: none;
  height: 15%;
  width: 100%;
  text-align: right;
  font-size: 26px;
  color: white;
  padding: 10px;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 85%;
}

.button-0 {
  grid-column: span 2;
}

.bg-orange {
  background: rgb(238 144 61);
  font-size: 25px;
}

button {
  background: rgb(224 224 224);
  border-color: rgb(209 209 209);
}
